html {
    font-size: 150%;
    color: #000000;
    box-sizing: border-box;
    background-color: #fffff0;
    margin: 2%;
}
head {
    display: inline;
    float: left;
    background-color: #ffffff;
}
body {
    background-color: #fffff0;
    box-sizing: border-box;
    display: block;

}
.container {
    background-color: #fffff0;

}
.header {
    background-color: #fffff0;
}
.header h2 {
    text-align: center;
    color: #0000ff;
    font-size: 200%;
    margin-top: 0%;
    text-decoration: none;
    text-shadow: 3px 3px 2px #ff00ff;
}
.header form {
    background-color: #ffff00;
    text-decoration: none;
    text-align: center;
    margin-top: 0%;
    box-sizing: border-box;
    padding: 1%;
   }

   .card {
    background-color: #fffff0;
    text-align: center;
    margin-top: 2%;
    margin-left: 40%;
    margin-right: 45%;
     box-shadow: 0% 0% 5% 2% #000000;
     width: 250px;
     height: 150px;
     border-style: solid;
     border-radius: 10px;
     border-color: #ffff00;
     
   }

   .card-details {
    background-color: #fffff0;
    border-style: solid;
    border-color: #ffff00;
    border-radius: 10px;

   }
    .card-details h4 {
        background-color: #fffff0;
    }
    .wt-cond{
    padding: 1%;
    font-size: 100%;
}
.temper{
    padding: 1%;
    font-size: 75%;
}
.show{
    display: block;
}

   .foot
   {
    background-color: #ffff00;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    margin-top: 25%;


   }
